html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

#header {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 1;
    background-color: rgba(0,60,136,.5);
	color: white;
	font-family: Arial;
	font-size: 0.8rem;
	padding: 0.5rem;
	width: 14rem;
}

#info {
	position: absolute;
	left: 0.5rem;
	bottom: 0.5rem;
	height: 5rem;
	width: 20rem;
	z-index: 1;
    background-color: rgba(0,60,136,.5);
	color: white;
	font-family: Arial;
	font-size: 0.8rem;
	padding: 0.5rem;
}

#header input[type=range] {
	margin-top: 1rem;
	width: 100%; 
}   

#footer {
    height: 2rem;
    background-color: blue;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

h5 {

}

.map {
    height: calc(100% - 0rem);
    width: 100%;
}